/* body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
} */

body {
    /* background-color: #fdfdf8; */
}

 p {
     margin-bottom: 1.2em;
 }

 a {
     color: blue;
     text-decoration: underline;
 }


td {
    /* border: 1px solid black; */
    padding:  0 16px;
}

td:last-of-type {
    
 text-align: right;
}

th {
    padding: 0;
}

blockquote {
    margin: 20px 0;
}

blockquote footer {
    padding-top: 8px;
}

#map {
    height: 600px;
}

#current-temp-star {
    /* color: red; */
    background-image: url(star.svg);
    background-position: center center;
    background-repeat: no-repeat;
}


